<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Form Submission Successful</h1>
    <p>Thank you, <%=data.name%>, for your message!</p>
    <p>We have received the following details:</p>
    <ul>
        <li><strong>Email:</strong> <%=data.email%></li>
        <li><strong>Message:</strong> <%=data.message%></li>
    </ul>   
    
</body>
</html>