<ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/variables">variables</a>
        </li>
        <li>
            <a href="/conditionals">conditionals</a>
        </li>
        <li>
            <a href="/loop">loop</a>
        </li>
        <li>
            <a href="/form">form</a>
        </li>
    </ul>